

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>

<div class="container">
        

    <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">

            
            <div class="well well-lg" style="width: 500px">
                    <form>
                        <div class="form-group">
                          <label for="HouseNumber">House Number: </label>
                          <input type="number" class="form-control" id="houseNumber" placeholder="Enter House Number" name="houseNumber">
                        </div>
                        <div class="form-group">
                          <label for="address">Address:</label>
                          <input type="text" class="form-control" id="address" placeholder="Enter Address" name="address">
                        </div>
                        <div class="form-group">
                                <label for="amount">Amount:</label>
                                <input type="number" class="form-control" id="amount" placeholder="Enter Amount" name="amount">
                        </div>
                        
                        <button type="button" name="addHome" id="addHome" onclick="addHome123()" class="btn btn-info">Add Home</button>
                      </form>
              </div>
              <script>
                    function addHome123() {
                        // document.getElementById("success").style.visibility = "visible";

                         document.getElementById("houseNumber").value = "";
                         document.getElementById("address").value = "";
                         document.getElementById("amount").value = "";
                        
                        swal("New home added successfully.");
                        // document.getElementById("success").innerHTML = "<div class=\"alert alert-success\"><strong>Success!</strong> New home added successfully. </div>";

                    }
                </script>
            
    </div>
    </div>
</div>

</body>
</html>