
<head>
        <meta charset="UTF-8">
        <title>Home Rentals</title>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="script.js"></script>
        </head>
        
<nav class="navbar navbar-inverse" role="navigation" style="padding-left:100px;">
        
        <ul class="nav navbar-nav ">
            <li><img src="images/logo.png" width="100" height="50"></li></ul>
           
          <ul style="float:right">
            <li><form action="/admin">
                <button>LogOut</button>
                </form></li>
        </ul>
 </nav>
 <body class="text-center">
 <div class="row">
        <div class="col-md-6">
                <form action="/updateHouse">
                    <button>Update House</button>
                    </form>  
        </div>
        <div class="col-md-6">
                <form action="/paymentHistory">
                    <button>Users Payment Status</button>
                    </form>
        </div>
      </div>
</body>
