<style>
    #color {
      background-color: rgb(58, 55, 22);
    }
    .top-left {
        position: absolute;
        top: 150px;
        left: 350px;
    }
    
    /* Top right text */
    .top-right {
        position: absolute;
        top: 30px;
        right: 200px;
    }
    .btn {
        border: none;
        background-color:lightblue;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
        display: inline-block;
    }
    .default {color: black;}
    </style>
    
        <div class="row">
            <div class="top-left"> 
          <div class="col-md-6">
            <img src="images/login_icon.png" width="150%" height="70%" >
          </div>
        </div>
        <div class="top-right">
          <div class="col-md-6"> 
              <div>
                  <img src="images/logo.png" width="100%" height="40%">
                  <div>
                      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b>ADMIN LOGIN</b>
                     </div>
                 </div>
              <button class="btn default" onclick="login()">USER</button>
            
            
              <button class="btn default" onclick="admin()">ADMIN</button>
            
        <form class="form-signin" method="GET" action="/updateHouse">
            <p id="demo" style="color:red"></p>
        
    
            <p> User Name: <input type="text" id="userName" name="userName" placeholder="Enter User Name"> </p>
            
            <p> Password: &nbsp&nbsp</t><input type="password" id="userPwd" name="Password" placeholder="Enter Password"> </p>
        
            <br><br>
        
            
            <input type="button" value="Login" style="background-color:lightblue" onclick="user1()"></input>
              
        </form>
        </form>
        </div>
      </div>
        </div>
        </div>
        <script>
    
            function user1() {
        
              var user = document.getElementById('userName').value
              var pass = document.getElementById('userPwd').value
              if ((user == "bearcat" && pass == "bearcat")) {
                window.open("updateHouse");
              } else {
        
                txt="Please enter correct Id and Password";
            document.getElementById("demo").innerHTML = txt;
        
              }
            }

            function login(){
              window.open("login");
              
            }
            
          </script></body>