<style>.top-right {
        position: absolute;
        top: 10px;
        right: 40px;
        color:red;
    }</style>

<head>
<meta charset="UTF-8">
<title>Home Rentals</title>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="script.js"></script>
</head>

<nav class="navbar navbar-inverse" role="navigation" style="padding-left:100px;">
        
        <ul class="nav navbar-nav ">
            <li><img src="images/logo.png" width="100" height="50"></li>
            <li><a href="/rentalPortal">HOMES FOR RENT</a></li>
            <li><a href="/previousPayments">PREVIOUS PAYMENTS</a></li>
            <li><a href="/contactForm">CONTACT PAGE</a></li></ul>
          <ul class="nav navbar-right">
              <div class="top-right">
            <li><form action="/login">
                <button>LogOut</button>
                </form></li>
            </div>
        </ul>
 </nav>

<body>


<div class="container">


        <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">


                        <div class="well well-lg" style="width: 380px">
                                <form>
                                        <div class="form-group">
                                                <label for="HouseNumber" style="text-align: left">First Name:
                                                </label>
                                                <input type="text" class="form-control" id="FirstName"
                                                        placeholder="Enter First Name" name="FirstName">
                                        </div>
                                        <div class="form-group">
                                                <label for="LastName">Last Name:</label>
                                                <input type="text" class="form-control" id="LastName"
                                                        placeholder="Enter Last Name" name="LastName">
                                        </div>
                                        <div class="form-group">
                                                <label for="email">Email:</label>
                                                <input type="text" class="form-control" id="email"
                                                        placeholder="Enter Email" name="email">
                                        </div>

                                        <div class="form-group">
                                                <label for="comment">Comments:</label>
                                                <input type="text" class="form-control" id="comment"
                                                        placeholder="Enter Comments" name="comment">
                                        </div>

                                        <button type="button" name="addHome" id="addHome" onclick="addHome123()"
                                                class="btn btn-success">Submit</button>
                                </form>
                        </div>
                        <script>
                                function addHome123() {
                                        

                                        document.getElementById("FirstName").value = "";
                                        document.getElementById("LastName").value = "";
                                        document.getElementById("email").value = "";
                                        document.getElementById("comment").value = "";

                                        swal("Email sent successfully.");
                                       
                                }
                        </script>

                </div>
        </div>
</div>

</body>