<head>
    <meta charset="UTF-8">
    <title>Home Rentals</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="script.js"></script>
    </head>
    <body>
    <div>
    <div>
    <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
        
           <ul class="nav navbar-nav">
               <li><img src="images/logo.png" width="100" height="50"></li>
          <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/signup">Sign-up</a></li>
          <li><a href="/admin">Admin</a></li>
        </ul>
    </nav>
    
    <img src="images/home.jpg" width="100%" >
    
    
    
    </body>