<style>
#color {
  background-color: rgb(134, 103, 219);
}
.top-left {
    position: absolute;
    top: 50px;
    left: 20px;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 30px;
    right: 200px;
}

.btn {
    border: none;
    background-color:lightblue;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}
.default {color: black;}
</style>
<body >
  <div class="body">
    <div class="row">
        <div class="top-left"> 
      <div class="col-md-6">
        <img src="images/home.jpg" width="100%" height="90%" >
      </div>
    </div>
    <div class="top-right">
      <div class="col-md-6"> 
        <div>
         <img src="images/logo.png" width="100%" height="40%">
         <div>
         &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b>USER LOGIN</b>
        </div></div>
        <!-- &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b>USER LOGIN</b> -->

          <button class="btn btn-info" onclick="login()">USER</button>
        
        
          <button class="btn btn-info" onclick="admin()">ADMIN</button>
        
    <form class="form-signin">
        <!-- &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b>USER LOGIN</b> -->
        <h4 id="demo" style="color:red"></h4>

       
        <div class="form-group">
            <label for="username" style="text-align: left">User Name:
            </label>
            <input type="text" class="form-control" id="userName"
                    placeholder="Enter User Name" name="UserName">
        </div>
        <br>
        <div class="form-group">
            <label for="HouseNumber" style="text-align: left">Password: &nbsp&nbsp
            </label>
            <input type="password" class="form-control" id="userPwd"
                    placeholder="Enter Password" name="Password">
    </div>
    <br>
      
        <!-- <p> User Name: <input type="text" id="userName" class="form-control" name="userName" placeholder="Enter User Name"> </p>
        <br>
        <p> Password: </t><input type="password" id="userPwd" class="form-control" name="Password" placeholder="Enter Password"> </p>
    
        <br> -->
    
        
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="button" value="login" style="background-color:lightblue" onclick="user1()"></input>
        <button style="background-color:lightblue"  onclick="signup()">SignUp</button>  
      </form>
    
        
    </div>
  </div>
    </div>
    </div>
  </div>
    <script>

        function user1() {
          

          var user = document.getElementById('userName').value
          var pass = document.getElementById('userPwd').value
          if ((user == "bearcat" && pass == "bearcat")) {
            window.open("rentalPortal");
          } 
          else {
            
            txt="Enter correct Id and Password";
            document.getElementById("demo").innerHTML = txt;
           
          }
        }
       
        
        function signup(){
          
          window.open("signup");
        }
        function admin(){
          window.open("admin");
        }
        
      </script></body>