<style>
  #customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  #customers td,
  #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #customers tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  #customers tr:hover {
    background-color: #ddd;
  }

  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: gray;
    color: white;
  }

  .top-right {
    position: absolute;
    top: 10px;
    right: 40px;
    color: red;
  }

/* table {
  border-collapse: collapse;
  width: 100%;
}
th {
    background-color: #D3D3D3;
    color: black;
    border: 1px solid black;
  padding: 0.5rem; 
    text-align: center;
}

td {
  border: 1px solid black;
  padding: 0.5rem; 
  text-align: left;
}

tr:nth-child(even) {background-color: #D3D3D3}
button{
     width: auto;
     border: white; 
     padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
 } */

</style>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Home Rentals</title>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <!-- <script src="script.js"></script> -->
</head>

<nav class="navbar navbar-inverse" role="navigation" style="padding-left:100px;">
        
    <ul class="nav navbar-nav ">
        <li><img src="images/logo.png" width="100" height="50"></li>
        <li><a href="/updateHouse">UPDATE HOUSE</a></li>
        <li><a href="/paymentHistory">PAYMENT HISTORY</a></li></ul>
      <ul class="nav navbar-right">
          <div class="top-right">
        <li><form action="/login">
            <button>LogOut</button>
            </form></li>
        </div>
    </ul>
</nav>

<body class="text-center">
   
<h3>Payment History</h3>



  <div class="well well-lg">
    <table id="customers">
      <tr>
        <th>House No</th>
        <th>Amount</th>
        <th>Payment Status</th>
        <th>Paid Date</th>
        <th>UPDATE</th>
        <th>DELETE</th>
      </tr>
      <tr id="row1">
        <td>2</td>
        <td>850</td>
        <td>Processing</td>
        <td>12/4/2018</td>
        <td>

          <button id="row1update" class="btn btn-success" onclick="row1update123()"> UPDATE </button>
        </td>
        <td>
          <!-- <button id="row1delete" class="btn btn-danger" onclick="row1delete123()"> DELETE </button> -->
          <input id="row1delete" class="btn btn-danger" onclick="confirm('Are you sure want to delete?'); row1delete123()" type="submit" value="DELETE">

        </td>
        <script>
          function row1update123(){
          }
          function row1delete123() {
          document.getElementById("row1").style.visibility = "hidden";
          }
        </script>

      </tr>
      <tr>
        <td>4</td>
        <td>1250</td>
        <td>Processing</td>
        <td>12/3/2018</td>
        <td>

          <button id="row3update" class="btn btn-success" onclick="row3update123()"> UPDATE </button>
        </td>
        <td>
          <!-- <button id="row1delete" class="btn btn-danger" onclick="row1delete123()"> DELETE </button> -->
          <input id="row3delete" class="btn btn-danger" onclick="confirm('Are you sure want to delete?'); row3delete123()" type="submit" value="DELETE">

        </td>
      </tr>
      <tr>
        <td>1</td>
        <td>950</td>
        <td>Processing</td>
        <td>12/1/2018</td>
        <td>

          <button id="row4update" class="btn btn-success" onclick="row4update123()"> UPDATE </button>
        </td>
        <td>
          <!-- <button id="row1delete" class="btn btn-danger" onclick="row1delete123()"> DELETE </button> -->
          <input id="row4delete" class="btn btn-danger" onclick="confirm('Are you sure want to delete?'); row4delete123()" type="submit" value="DELETE">

        </td>
      </tr>
      <tr>
        <td>7</td>
        <td>750</td>
        <td>Processing</td>
        <td>12/4/2018</td>
        <td>

          <button id="row5update" class="btn btn-success" onclick="row5update123()"> UPDATE </button>
        </td>
        <td>
          <!-- <button id="row1delete" class="btn btn-danger" onclick="row1delete123()"> DELETE </button> -->
          <input id="row5delete" class="btn btn-danger" onclick="confirm('Are you sure want to delete?'); row5delete123()" type="submit" value="DELETE">

        </td>
      </tr>
      <tr>
        <td>9</td>
        <td>850</td>
        <td>Paid</td>
        <td>12/5/2018</td>
        <td>

          <button id="row2update" class="btn btn-success" onclick="row2update123()"> UPDATE </button>
        </td>
        <td>
          <!-- <button id="row1delete" class="btn btn-danger" onclick="row1delete123()"> DELETE </button> -->
          <input id="row2delete" class="btn btn-danger" onclick="confirm('Are you sure want to delete?'); row2delete123()" type="submit" value="DELETE">

        </td>
      </tr>
      <tr>
        <td>7</td>
        <td>650</td>
        <td>Processing</td>
        <td>12/2/2018</td>
        <td>

          <button id="row6update" class="btn btn-success" onclick="row6update123()"> UPDATE </button>
        </td>
        <td>
          <!-- <button id="row1delete" class="btn btn-danger" onclick="row1delete123()"> DELETE </button> -->
          <input id="row6delete" class="btn btn-danger" onclick="confirm('Are you sure want to delete?'); row6delete123()" type="submit" value="DELETE">

        </td>
      </tr>
      <tr>
        <td>5</td>
        <td>850</td>
        <td>Paid</td>
        <td>12/3/2018</td>
        <td>

          <button id="row7update" class="btn btn-success" onclick="row7update123()"> UPDATE </button>
        </td>
        <td>
          <!-- <button id="row1delete" class="btn btn-danger" onclick="row1delete123()"> DELETE </button> -->
          <input id="row7delete" class="btn btn-danger" onclick="confirm('Are you sure want to delete?'); row7delete123()" type="submit" value="DELETE">

        </td>
      </tr>
      <tr>
        <td>14</td>
        <td>1000</td>
        <td>Processing</td>
        <td>11/4/2018</td>
        <td>

          <button id="row8update" class="btn btn-success" onclick="row8update123()"> UPDATE </button>
        </td>
        <td>
          <!-- <button id="row1delete" class="btn btn-danger" onclick="row1delete123()"> DELETE </button> -->
          <input id="row8delete" class="btn btn-danger" onclick="confirm('Are you sure want to delete?'); row8delete123()" type="submit" value="DELETE">

        </td>
      </tr>
      <tr>
        <td>16</td>
        <td>850</td>
        <td>Paid</td>
        <td>11/4/2018</td>
        <!-- <td> -->

          <!-- <button id="row9update" class="btn btn-success" onclick="row9update123()"> UPDATE </button> -->

          <td><button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">UPDATE</button>
          </td>

          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
           aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">

                  <h4 class="modal-title" id="exampleModalLabel">Payment Status</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="form-group">
                      <label for="recipient-name" class="col-form-label">House No. :</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <input type="text" id="mysal" value="16">
                    </div>
                    <div class="form-group">
                      <label for="message-text" class="col-form-label"> Amount :</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <input type="text" id="mysal" value="850">
                    </div>
                    <div class="form-group">
                      <label for="message-text" class="col-form-label">Payment Status :</label>
                      <input type="text" id="mysal" value="Processing">
                    </div>
                    <div class="form-group">
                      <label for="message-text" class="col-form-label">Paid Date : </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <input type="month" id="myMonth" value="2018-12">
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="update()">Update</button>
                </div>
              </div>
            </div>
          </div>

        <!-- </td> -->
        <td>
          <!-- <button id="row1delete" class="btn btn-danger" onclick="row1delete123()"> DELETE </button> -->
          <input id="row9delete" class="btn btn-danger" onclick="confirm('Are you sure want to delete?'); row9delete123()" type="submit" value="DELETE">

        </td>
      </tr>
      <tr id="row10">
        <td>6</td>
        <td>850</td>
        <td>Processing</td>
        <td>12/7/2018</td>
        <td>

          <button id="row10update" class="btn btn-success" onclick="row10update123()"> UPDATE </button>
        </td>
        <td>
          <!-- <button id="row1delete" class="btn btn-danger" onclick="row1delete123()"> DELETE </button> -->
          <input id="row10delete" class="btn btn-danger" onclick="confirm('Are you sure want to delete?'); row10delete123()" type="submit" value="DELETE">

        </td>
        <script>
          function row10update123(){
          }
          function row10delete123() {
          document.getElementById("row10").style.visibility = "hidden";
          }
        </script>
      </tr>
    </table>
    
  </div>
</body>

