<style>.top-right {
        position: absolute;
        top: 10px;
        right: 40px;
        color:red;
}
P.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 9em
}
.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }</style>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="script.js"></script>
<body>
        <nav class="navbar navbar-inverse" role="navigation" style="padding-left:100px;">
        
                <ul class="nav navbar-nav ">
                    <li><img src="images/logo.png" width="100" height="50"></li>
                    <li><a href="/rentalPortal">HOMES FOR RENT</a></li>
                    <li><a href="/previousPayments">PREVIOUS PAYMENTS</a></li>
                    <li><a href="/contactForm">CONTACT PAGE</a></li></ul>
                  <ul class="nav navbar-right">
                      <div class="top-right">
                    <li><form action="/login">
                        <button>LogOut</button>
                        </form></li>
                    </div>
                </ul>
         </nav>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<h1><P class="blocktext">Payment Sucessful</P></h1>
    <img class="displayed" src="images/Payment.png">
    </body>