<style>.top-right {
        position: absolute;
        top: 10px;
        right: 40px;
        color:red;
    }
    .creditCardForm {
    max-width: 700px;
    background-color:rgb(228, 247, 146);
    margin: 100px auto;
    overflow: hidden;
    padding: 25px;
    color: #4c4e56;
}

.creditCardForm label {
    width: 100%;
    margin-bottom: 10px;
}

.creditCardForm .heading h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #4c4e56;
}

.creditCardForm .payment {
    float: left;
    font-size: 18px;
    padding: 10px 25px;
    margin-top: 20px;
    position: relative;
}

.creditCardForm .payment .form-group {
    float: left;
    margin-bottom: 15px;
}

.creditCardForm .payment .form-control {
    line-height: 40px;
    height: auto;
    padding: 0 16px;
}

.creditCardForm .owner {
    width: 63%;
    margin-right: 10px;
}

.creditCardForm .CVV {
    width: 35%;
}

.creditCardForm #card-number-field {
    width: 100%;
}

.creditCardForm #expiration-date {
    width: 49%;
}

.creditCardForm #credit_cards {
    width: 50%;
    margin-top: 25px;
    text-align: right;
}

.creditCardForm #pay-now {
    width: 100%;
    margin-top: 25px;
}

.creditCardForm .payment .btn {
    width: 100%;
    margin-top: 3px;
    font-size: 24px;
    background-color: #81c79c;
    color: white;
}

.creditCardForm .payment select {
    padding: 10px;
    margin-right: 15px;
}

.transparent {
    opacity: 0.2;
}

@media(max-width: 650px) {
    .creditCardForm .owner,
    .creditCardForm .CVV,
    .creditCardForm #expiration-date,
    .creditCardForm #credit_cards {
        width: 100%;
    }
    .creditCardForm #credit_cards {
        text-align: left;
    }
}


/*  Examples Section */

.examples {
	max-width: 700px;
	background-color: #fff;
	margin: 0 auto 75px;
	padding: 30px 50px;
    color: #4c4e56;
    
}

.examples-note{
    text-align: center;
    font-size: 14px;
    max-width: 370px;
    margin: 0 auto 40px;
    line-height: 1.7;
    color: #7a7a7a;
}

.examples table {
    margin: 5px 0 0 0;
    font-size: 14px;
}

.deadlines{
    width: 70%;
    text-align: center;
    align-self: center;
    margin-left: 200px;
    margin-right: 100px;

}

.deadlines tr{
    height: 30px;
    text-align: center;
}

.navbar-brand active{
  background-color: whitesmoke;
  color: black;
  text-emphasis: 15px;
}

div#myForm{
    text-align:center;
    border:1px solid #ccc;
    width:300px;
    float: center;
    padding:0 50px 15px;
    margin-top:20px;
    /* box-shadow:0 0 15px; */
    border-radius:6px;
    /* float:left */
    }
        hr{
        margin-top:-5px
        }
        label{
        float:center;
        font-size:16px
        }

        input[type="submit"]{
            /* width:20%; */
            /* background-color:#2BC1F2; */
            border:none;
            color:black;
            font-size:18px;
            /* font-weight:700; */
            cursor:pointer;
            font-family:'Ubuntu',sans-serif
            }</style>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="script.js"></script>
<body>
        <nav class="navbar navbar-inverse" role="navigation" style="padding-left:100px;">
        
                <ul class="nav navbar-nav ">
                    <li><img src="images/logo.png" width="100" height="50"></li>
                    <li><a href="/rentalPortal">HOMES FOR RENT</a></li>
                    <li><a href="/previousPayments">PREVIOUS PAYMENTS</a></li>
                    <li><a href="/contactForm">CONTACT PAGE</a></li></ul>
                  <ul class="nav navbar-right">
                      <div class="top-right">
                    <li><form action="/login">
                        <button>LogOut</button>
                        </form></li>
                    </div>
                </ul>
         </nav>
       

        <div class="creditCardForm">
            <div class="heading">
                <h1>Please enter your details</h1>
            </div>
            <div class="payment">
                <form method="GET" action="/paymentsucess">
                    <div class="form-group owner">
                        <label for="owner">Owner</label>
                        <input type="text" class="form-control" id="owner">
                    </div>
                    <div class="form-group CVV">
                        <label for="cvv">CVV</label>
                        <input type="text" class="form-control" id="cvv">
                    </div>
                    <div class="form-group" id="card-number-field">
                        <label for="cardNumber">Card Number</label>
                        <input type="text" class="form-control" id="cardNumber">
                    </div>
                    <div class="form-group" id="expiration-date">
                        <label>Expiration Date</label>
                        <select>
                            <option value="01">January</option>
                            <option value="02">February </option>
                            <option value="03">March</option>
                            <option value="04">April</option>
                            <option value="05">May</option>
                            <option value="06">June</option>
                            <option value="07">July</option>
                            <option value="08">August</option>
                            <option value="09">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                        <select>
                            <option value="16"> 2016</option>
                            <option value="17"> 2017</option>
                            <option value="18"> 2018</option>
                            <option value="19"> 2019</option>
                            <option value="20"> 2020</option>
                            <option value="21"> 2021</option>
                        </select>
                    </div>
                    <div class="form-group" id="credit_cards">
                        <img src="images/visa.jpg" id="visa">
                        <img src="images/mastercard.jpg" id="mastercard">
                        <img src="images/amex.jpg" id="amex">
                    </div>
                    <div class="form-group" id="pay-now">
                        
                        <button type="submit" class="btn btn-default" id="confirm-purchase">Confirm</button>
                    
                    </div>
                </form>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
         <script src="/js/jquery.payform.min.js" charset="utf-8"></script>
        <script src="/js/script.js"></script>
        </body>