<style>.top-right {
    position: absolute;
    top: 10px;
    right: 40px;
    color:red;
}
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  #customers td,
  #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #customers tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  #customers tr:hover {
    background-color: #ddd;
  }

  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: gray;
    color: white;
  }

</style>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="script.js"></script>
<body>
        <nav class="navbar navbar-inverse" role="navigation" style="padding-left:100px;">
        
                <ul class="nav navbar-nav ">
                    <li><img src="images/logo.png" width="100" height="50"></li>
                    <li><a href="/rentalPortal">HOMES FOR RENT</a></li>
                    <li><a href="/previousPayments">PREVIOUS PAYMENTS</a></li>
                    <li><a href="/contactForm">CONTACT PAGE</a></li></ul>
                  <ul class="nav navbar-right">
                      <div class="top-right">
                    <li><form action="/login">
                        <button>LogOut</button>
                        </form></li>
                    </div>
                </ul>
         </nav>
        <div class="well well-lg">
        <table id="customers">
                <tr>
                  <th>House No</th>
                  <th>Amount</th>
                  <th>Payment Status</th>
                  <th>Paid Date</th>
                  
                </tr>
                <tr id="row1">
                  <td>2</td>
                  <td>850</td>
                  <td>Processing</td>
                  <td>12/4/2018</td>
                  </tr>
                  <tr id="row1">
                        <td>2</td>
                        <td>850</td>
                        <td>Processing</td>
                        <td>11/4/2018</td>
                        </tr>
                        <tr id="row1">
                                <td>2</td>
                                <td>850</td>
                                <td>Processing</td>
                                <td>10/4/2018</td>
                                </tr>
                                </table>
                            </div>
                                </body>