
<style>
.card {
    box-shadow: 0 8px 8px 0 rgba(56, 9, 9, 0.2);
    transition: 0.3s;
    width: 30%;
    height: 40%
    
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(53, 29, 29, 0.2);
}

.container {
    padding: 26px 16px;
}
.bottom-middle {
    position: absolute;
    bottom: 8px;
    right: 200px;
    
}
.top-right {
    position: absolute;
    top: 10px;
    right: 40px;
    color:red;
}
.butt {
    display: inline-block;
    height: 34px;
    padding: 0;
    margin: 0;
    vertical-align: top;
    width: 34px;
}

#close-image img {
    display: block;
    height: 330px;  
    width: 330px;
}

#close-CSS {
    background-image: url( 'images/home1.jpg' );
    background-size: 250px 250px;
    height: 250px;  
    width: 250px;
}
</style>
 <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
 <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
 <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
 <script src="script.js"></script>
 <body>
        <nav class="navbar navbar-inverse" role="navigation" style="padding-left:100px;">
        
                <ul class="nav navbar-nav ">
                    <li><img src="images/logo.png" width="100" height="50"></li>
                    <li><a href="/rentalPortal">HOMES FOR RENT</a></li>
                    <li><a href="/previousPayments">PREVIOUS PAYMENTS</a></li>
                    <li><a href="/contactForm">CONTACT PAGE</a></li></ul>
                  <ul class="nav navbar-right">
                      <div class="top-right">
                    <li><form action="/login">
                        <button>LogOut</button>
                        </form></li>
                    </div>
                </ul>
         </nav>
         <div class="well well-lg">
<div class="row" >
    
    <div class="col-sm-4">
            <img src="images/home1.jpg" alt="Avatar" style="width:100%"  class="card container">
        
</div>
    <div class="col-sm-4">
        <br>
        <b>3 Bedroom Homes for Rent in Maryville, MO</b>
        <p>Maybe you’re tired of apartment living, maybe you want more space, or maybe you’ve just always dreamed of living in a house. Whatever it is, you’re looking for 3 bedroom houses for rent in Maryville to find your next home. A rental house is the perfect place to make your own, with plenty of space for your family to grow. </p>
            
</div>
    <div class="col-sm-4">
        <div class="container">
        <br>
        <div>
            <h2><b>1250$</b></h2>
        </div><form method="GET" action="/payment">
            <button class="btn btn-success">RESERVE</button>
        </form>
        </div>
</div>
  </div>
</div>
  <br>
  <div class="row">
    
        <div class="col-sm-4">
                <img src="images/home2.jpg" alt="Avatar" style="width:100%"  class="card container">
            
    </div>
        <div class="col-sm-4">
            <br>
            <b>2 Bedroom 2 bathroom house with all facilities</b>
            <p>This is a house for SALE, but with mortgage cheaper than rent. $600/month and talk to me about $0 down options! Please inquire about our video tour ! Home is 15 minutes from Maryville. 5 acres and a full poured basement. Lots of recent updates like granite countertops and hardwood floors. </p>
                
    </div>
        <div class="col-sm-4">
                <div class="container">
                        <br>
                        <div>
                            <h2><b>550$</b></h2>
                        </div><form method="GET" action="/payment">
                            <button class="btn btn-success">RESERVE</button>
                        </form>
                        </div>
    </div>
      </div>
      <div class="well well-lg">
      <div class="row">
    
            <div class="col-sm-4">
                    <img src="images/home3.jpg" alt="Avatar" style="width:100%"  class="card container">
                
        </div>
            <div class="col-sm-4">
                <br>
                <b>3 Bedroom one bath room house with full furniture in Maryville,MO</b>
                <p>3 bed, 1 bath, appliances furnished washer, dryer, stove, frig. Will allow one pet under 50 lbs.  shed, total electric.  Available January 1 st. Currently rented. Rental application.</p>
                    
        </div>
            <div class="col-sm-4">
                    <div class="container">
                            <br>
                            <div>
                                <h2><b>1050$</b></h2>
                            </div><form method="GET" action="/payment">
                                <button class="btn btn-success">RESERVE</button>
                            </form>
                            </div>
        </div>
          </div>
        </div>
         
  
</body>