
<style>
        #color {
          background-color: rgb(134, 103, 219);
        }
        .top-left {
            position: absolute;
            top: 150px;
            left: 150px;
        }
        
        /* Top right text */
        .top-right {
            position: absolute;
            top: 130px;
            right: 340px;
        }
        .btn {
            border: none;
            background-color:lightblue;
            padding: 14px 28px;
            font-size: 16px;
            cursor: pointer;
            display: inline-block;
        }
        .default {color: black;}
        </style>
        
            <div class="row">
                <div class="top-left"> 
              <div class="col-md-6">
                <img src="images/signup.png" width="100%" height="40%" >
              </div>
            </div>
            <div class="top-right">
              <div class="col-md-6"> 
                 
                  <h1 id="btn">SIGNUP</h1>              
            <form class="form-signin">
                    <p id="demo" style="color:red"></p>

        
                    <p> First name: <input type="text" id="firstName" placeholder="Enter User FirstName"> </p>
                    <br>
                    <p> Last name: <input type="text" id="lastName" placeholder="Enter User LastName"> </p>
                    <br>
                    <p> User ID: <input type="text" id="UID"  placeholder="Enter User mail ID"> </p>
                    <br>
                    <p> Password: </t><input type="password" id="userPwd"  placeholder="Enter Password"> </p>
            
                
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="button" value="SignUp" style="background-color:lightblue" onclick="user1()"></input>
                <button style="background-color:lightblue" onclick="login()">Login</button>
                  
            </form>
            
            </div>
          </div>
            </div>
            </div>
            <script>
        
                function user1() {
            
                  var mail = document.getElementById('UID').value
                  if (mail == "s") {
                    window.open("login");
                  } else {
                    txt="This mail ID is already used";
                    document.getElementById('demo').innerHTML = txt;
            
                  }
                }
                function login(){
                  window.open("login");
                }
                
            
              </script></body>
