<style>.top-right {
                position: absolute;
                top: 10px;
                right: 40px;
                color:red;
            }</style>

<head>
        <meta charset="UTF-8">
        <title>Home Rentals</title>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="script.js"></script>
</head>

<nav class="navbar navbar-inverse" role="navigation" style="padding-left:100px;">
        
                <ul class="nav navbar-nav ">
                    <li><img src="images/logo.png" width="100" height="50"></li>
                    <li><a href="/updateHouse">UPDATE HOUSE</a></li>
                    <li><a href="/paymentHistory">PAYMENT HISTORY</a></li></ul>
                  <ul class="nav navbar-right">
                      <div class="top-right">
                    <li><form action="/login">
                        <button>LogOut</button>
                        </form></li>
                    </div>
                </ul>
         </nav>

<body>
       <div class="text-center">
                <h3>Update House</h3>
       </div>

        <div class="container">


                <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">


                                <div class="well well-lg" style="width: 380px">
                                        <form>
                                                <div class="form-group">
                                                        <label for="HouseNumber" style="text-align: left">House Number:
                                                        </label>
                                                        <input type="number" class="form-control" id="houseNumber"
                                                                placeholder="Enter House Number" name="houseNumber">
                                                </div>
                                                <div class="form-group">
                                                        <label for="address">Address:</label>
                                                        <input type="text" class="form-control" id="address"
                                                                placeholder="Enter Address" name="address">
                                                </div>
                                                <div class="form-group">
                                                        <label for="amount">Amount:</label>
                                                        <input type="number" class="form-control" id="amount"
                                                                placeholder="Enter Amount" name="amount">
                                                </div>

                                                <button type="button" name="addHome" id="addHome" onclick="addHome123()"
                                                        class="btn btn-info">Add Home</button>
                                        </form>
                                </div>
                                <script>
                                        function addHome123() {
                                                // document.getElementById("success").style.visibility = "visible";

                                                document.getElementById("houseNumber").value = "";
                                                document.getElementById("address").value = "";
                                                document.getElementById("amount").value = "";

                                                swal("New home added successfully.");
                                                // document.getElementById("success").innerHTML = "<div class=\"alert alert-success\"><strong>Success!</strong> New home added successfully. </div>";

                                        }
                                </script>

                        </div>
                </div>
        </div>

</body>